[project]
name = "app"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "pyinstaller>=6.17.0",
    "pyqt6>=6.10.1",
    "requests>=2.32.5",
    "yt-dlp>=2025.12.8",
]
